# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.rawc
*_subunit_*.rawiv
*.raw
*.rawiv
VolumeCache/
2BG9_acc97129.rawiv
2BG9_pot97129.rawiv
temp_tri.raw
new_tri.rawc
__MACOSX/
